/* First of all */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tab */
.tab {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 150px;
  background-color: white;
  z-index: 2;
}

.tab li {
  float: left;
  list-style: none;
  margin: 7.5;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.focus {
  border-bottom: 3px solid #d26585;
}

/* Item */
.items {
  position: absolute;
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: fixed;
  top: 30px;
  z-index: 1;
  top: 180px;
}

.item {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: white;
  outline: none;
}

.item:focus {
  background-color: #d26585;
  color: white;
}

/* Item's inner */
.item img {
  height: 100%;
  width: 106px;
  float: left;
  outline: none;
}

.item .title {
  position: absolute;
  left: 109px;
  top: 3px;
  font-size: 12px;
}

.item .author {
  position: absolute;
  left: 130px;
  bottom: 2px;
  font-size: 12px;
  color: rgb(115, 115, 115);
  white-space: nowrap;
}

.item .imgUP {
  width: 18px;
  height: 12px;
  position: absolute;
  left: 109px;
  bottom: 3px;
  font-size: 9.5px;
  border: 1px solid;
  border-radius: 2px;
  padding-bottom: 11px;
  text-align: center;
  color: rgb(115, 115, 115);
}

.item:focus .author {
  color: white;
}

.item:focus .imgUP {
  color: white;
}

#title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 14px;
}

#info {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 12px;
}

/* Player */
.player {
  width: 240px;
  height: 150px;
}

.player_fullscreen {
  width: 320px;
  height: 240px;
  position: fixed;
  transform: rotate(90deg);
  top: 40px;
  left: -40px;
}

#player {
  background-color: black;
  z-index: 300;
}
/* Soft Keys */
#softkeys {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  width: 72px;
  padding: 0 5px;
}

#softkey-left,
#softkey-right {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
}

#softkey-right {
  text-align: right;
}

#softkey-center {
  font-weight: 600;
  font-size: 16px;
  width: 76px;
  color: #323232;
  text-align: center;
}

.itemcomment {
  float: left;
  position: relative;
  padding: 2px 5px;
  width: 100%;
  background-color: white;
  outline: none;
  font-size: 14px;
}
.comment {
  float: left;
  position: relative;
  padding: 2px 0;
  width: 100%;
  outline: none;
  max-height: 60px;
}
.itemcomment:focus {
  background-color: #d26585;
  color: white;
}
