* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.dialog {
  display: none;
  border: 1px solid #d26585;
  z-index: 999;
  padding: 16px;
}

.info {
  display: block;
}

p {
  padding: 6px;
  margin: 0;
}

#softkeys {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  width: 72px;
  padding: 0 5px;
}

#softkey-left,
#softkey-right {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  line-height: 24px;
  text-align: left;
}

#softkey-right {
  text-align: right;
  line-height: 24px;
}

#softkey-center {
  font-weight: 600;
  font-size: 16px;
  width: 76px;
  color: #323232;
  text-align: center;
}

#menu {
  display: none;
  z-index: 100;
  background: rgba(00, 00, 00, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#menucontainer {
  position: fixed;
  bottom: 30px;
  left: 0px;
  width: 98%;
  background: white;
  margin: 3px;
  list-style: none;
}

.menuitem {
  position: relative;
  background-color: white;
  width: 100%;
  outline: none;
  height: 30px;
  padding-left: 5px;
  line-height: 30px;
}

.menuitem.select {
  background-color: #d26585;
  color: white;
}

.item.select {
  background-color: #d26585;
  color: white;
}

#face {
  margin-top: 8px;
}
